.row div {
    margin: 0.25rem;
}
.col-sm {
    background-color: antiquewhite;
}
.col-md {
    background-color: yellowgreen;
}
.col-lg {
    background-color: gold;
}
.col-xl {
    background-color: burlywood;
}