body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.nav {
  background-color: aqua;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 3;
}
.main {
  background-color: bisque;
  flex-grow: 1;
}

@media (max-width: 640px) {
  .nav {
    flex-direction: row;
    align-self: end;
  }
}
